body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

html {
  overflow: hidden;
  height: 100%;
}

#game-table {
  background-color: rgb(22, 151, 78);
  padding-top: 0.75rem;
  background-image: url(../images/solitareBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  height: 100%;
  overflow: auto;
  z-index: -2;
}

.top-wrapper {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
  width: 100%;
}

.stockandwaste {
  display: flex;
  gap: 1.5rem;
}

.card {
  border: dashed rgb(20, 20, 20) 1.5px;
  border-radius: 0.7rem;
  height: 12rem;
  min-width: 8rem;
  max-width: 8rem;
  text-align: center;
  font-size: larger;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}

.foundation {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer .overlayImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.bottom-wrapper {
  padding-bottom: 15rem;
}

.tableau {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

ul {
  padding-left: 0;
}

.stackedList li {
  height: 0;
  list-style-type: none;
}

.stackedList li :last-child {
  height: 12rem;
}

.fannedList li {
  height: 2.3rem;
  list-style-type: none;
}

.fannedList li :last-child {
  height: 12rem;
}

/* Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.92);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top 0.5s ease-in-out;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  min-height: 50%;
  height: 55%;
  text-align: center;
}

.modal__inner__large {
  transition: top 0.5s ease-in-out;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  min-height: 50%;
  height: 74%;
}

h2 {
  background: black;
  color: white;
  border-radius: 5px;
}

h3 {
  font-weight: bold;
  color: darkred;

}

.win_screen {
  background-image: url(../images/icons/win_bg.jpg);
  background-size: cover;

  /*
  background: rgb(102, 255, 134);
  background: linear-gradient(
          150deg,
          rgba(102, 255, 134, 1) 0%,
          rgba(101, 214, 255, 1) 100%
  );

   */
}


.newgame_screen {
  background-image: url(../images/icons/newgame_bg.jpg);
  background-size: cover;
  border-radius: 5px;
  /*
  background: rgb(102, 255, 134);
  background: linear-gradient(
          150deg,
          rgba(102, 255, 134, 1) 0%,
          rgba(101, 214, 255, 1) 100%
  );

   */
}

#klondike_btn {
  background: rgb(144, 233, 255);
  color: rgb(0, 0, 0);
  width: 10rem;
  height: 3rem;
  font-size: 20px;
}

#klondike_btn:hover {
  background: rgb(127, 207, 227);
}

#vegas_btn {
  background: rgb(255, 36, 36);
  color: white;
  width: 10rem;
  height: 3rem;
  font-size: 20px;
}

#vegas_btn:hover {
  background: rgb(216, 30, 30);
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #000000;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
  transition-duration: 100ms;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.btn {
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
  box-shadow: 0 1px 2px rgb(42, 42, 42);
  transition-duration: 100ms;
}

.btn:hover {
  box-shadow: 0 0.7px 2px rgb(42, 42, 42);
}

.btn:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

/* Other (from online sample)
 * =============================== */
.btn_new {
  background: #27ae60;
  color: #fff;
}

.btn_new:hover,
.btn_new:focus {
  background: #2ecc71;
}

.btn_new:active {
  background: #27ae60;
}

.btn--blue {
  background: #2980b9;
}





.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}



/* navbar
 * =============================== */
.navbar {
  overflow: hidden;
  background-color: #000000;
  color: #aaaaaa;
  width: 100%;

  display: inline-block;
}

#abc_logo {
  float: left;
  padding: 0.2em;
  height: 47px;
  width: 47px;
}
#abc_logo2 {
  margin: auto;
  padding: 0.2em;
  height: 100px;
  width: 100px;
}

.navbar h1 {
  margin: auto;
  padding-left: 0.2em;
  font-size: 2em;
}

.navbar h2 {
  margin: auto;
  padding-left: 1em;
  font-size: 1.75em;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background-color: #ddd;
  color: #000000;
}


.navbar-right {
  float: right;
}

.navbar-left {
  float: left;
}

.center {
  display: flex;
  justify-content: center;
  height: 46px;
  text-align: center;
}

.inline {
  display: inline;
  padding: 12px 14px;
  text-align: center;
}


#coming_soon {
  width: 300px;
  height: 120px;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -12px;
}



.container {
  background-color: #f2f2f2;
  padding: 5px 15px 10px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.icon-container {
  margin-bottom: 14px;
  padding: 7px 0;
  font-size: 24px;
}

.checkout_btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}

.checkout_btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.padding_left {
  padding-left: 0.5em;
}