body {
  background-color: rgb(22, 151, 78);
  padding-top: 2rem;

  background-image: url(../images/solitareBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

html{
    overflow: hidden;
    height: 100%;
}

.top-wrapper {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-around;
  width: 100%;
}

.stockandwaste {
  display: flex;
  gap: 1.5rem;
}

.card {
  border: dashed rgb(20, 20, 20) 1.5px;
  border-radius: 0.7rem;
  height: 12rem;
  min-width: 8rem;
  max-width: 8rem;
  text-align: center;
  font-size: larger;
  user-select: none;
  cursor: pointer;
}

.foundation {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer .overlayImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.bottom-wrapper{
    padding-bottom: 15rem;
}

.tableau {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

ul {
  padding-left: 0;
}

.stackedList li {
  height: 0rem;
  list-style-type: none;
}

.stackedList li :last-child {
  height: 12rem;
}

.fannedList li {
  height: 2.3rem;
  list-style-type: none;
}

.fannedList li :last-child {
  height: 12rem;
}
